@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root
{
    --color-dourado: #ba8b02;
    --color-preto: #1d1d1d;
    --color-branco: #ececec;
    --color-cinza: #A1A1A1;
    --color-cinza_azulado:#272935;
    --font-title: "Montserrat", sans-serif;
    --font-body: "Poppins", sans-serif;
}

*
{
    margin: 0;
    list-style: none;
}

header 
{
    height: 100vh;
    display: flex;
    justify-content: center;
}


header::before
{
    content: "";
    background-image: url("../images/background.png");
    background-size: cover;
    height:100vh;
    width: 100vw;
    display: block;
    position: absolute;
    z-index: -10;
    
}

h1
{
    color: #BA8B02;
    font-size: 56px;
    font-weight: 800;
    font-family: "Montserrat", sans-serif;
}
header h2
{
    color: #ECECEC;
    font-size: 40px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}
ul
{
    color: #ECECEC;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
}
#secao-apresentacao
{
    display: flex;
    align-items: stretch;
    padding: 4rem;
    background-color: var(--color-cinza_azulado);
}
#secao-apresentacao img 
{
    border-radius: 50%;
    margin-right: 80px;
}
#texto-apresentacao
{
    color: var(--color-preto);
}
#texto-apresentacao h2
{
    color: var(--color-dourado);
    font-size: 2.5rem;
    font-family: var(--font-title);
}
#texto-apresentacao p
{
    color: var(--color-dourado);
    font-size: 1.5rem;
    font-family: var(--font-body);
}
#secao-projetos
{
    background-color: #272935;
    height: 100vh;
}

#secao-projetos ul
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.card
{
    max-width: 300px;
    height: 420px;
    position: relative;
    transition: opacity .5s;
}
.image-wrapper
{
    width: 100%;
    height: 100%;
    overflow:hidden;
}
.image-wrapper img
{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.card-text
{
    position: absolute;
    top: 30%;
    opacity: 0;
    transition: opacity .5s, top .5s;
    color: var(--color-dourado)
}
.card:hover .card-text
{
    opacity: 1;
    top: 15%;
    color: var(--color-dourado)
}
.card:hover .image-wrapper
{
    opacity: .3;
}
#secao-orcamento
{
    height: 100vh;
    padding: 3rem;
}
#secao-orcamento h2
{
    font-family: var(--font-title);
}
#secao-orcamento form
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}
.campo
{
    display: flex;
    flex-direction: column;
}
.linha
{
    grid-column: 1 / 3;
}